
@{
    ViewBag.Title = "Strona Główna";
}

<!doctype HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="Stylesheet" href="@Href("~/Content/Layout.css")" />

</head>
<body>

    <div id='page'>
        <div id='content'>

            <div>
                <div class='boxMain'>
                    <img class='boxMain' src=images/Metr_kwadratowy.svg.png alt='Panele słoneczne' />
                </div>

                <div class='boxMain' id='imgCENTER'>
                    <img class='boxMain' src=images/Metr_kwadratowy.svg.png alt='Panele słoneczne' />
                </div>

                <div class='boxMain'>
                    <img class='boxMain' src=images/Metr_kwadratowy.svg.png alt='Panele słoneczne' />
                </div>
            </div>
            <br>
            <div>
                <img id='reklama' src=images/electric-1080584.jpg alt='Promocje'>
            </div>

            <div id='boxes2'>

                <div class='boxMain2'>
                    <img class='boxMain2' src=images/tubing-2672187.jpg alt='Panele słoneczne' />
                </div>

                <div class='boxMain2' style='margin-left: 4%;'>
                    <img class='boxMain2' src=images/tubing-2672187.jpg alt='Panele słoneczne' />
                </div>

            </div>
        </div>
    </div>



</body>
</html>

